body {
  background-color: #000;
}

* {
}

.main {
  background-color: #fff;
  margin-top: 110px;
  margin-bottom: 100px;
  min-width: 1200px;
  height: 500px;
  position: relative;
  z-index: 1;
}

.main h4 {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.main p {

}

.ryu {
  float: left;
  width: 659px;
  height: 494px;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  width: 659px;
  height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
  display: none;
}

.ryu-ready {
  background-image: url("../images/ryu-ready-position.gif");
}

.ryu-still {
  background-image: url("../images/ryu-standing-still.png");
}

.ryu-throwing {
  background-image: url("../images/ryu-throwing-hadouken.png");
}

.ryu-cool {
  background-image: url("../images/ryu-cool.gif");
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing {
  background-repeat: no-repeat;
}

.hadouken {
  background-image: url("../images/hadouken.gif");
  width: 156px;
  height: 90px;
  display: none;
  float: left;
  position: absolute;
  z-index: 10;
  top: 173px;
  left: 540px;
}

.controls {
  float: left;
  width: 150px;
  height: 100px;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 15px 15px;
  font-size: 12px;
}
